
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 60px;
    font-family: 'Faster One', cursive;
    margin-top:-0.20cm;
}

.modal-title{
    color: purple;
}

.fa-bars{
    color: rgb(30, 115, 243);
    font-weight: bold;
}

.fa-map-marker-alt{
    color: green;
}

.close{
    color: black;
    font-size: 30px;
}
