{% extends 'base.html' %}
{% block content %}


<br>

<div class="jumbotron jumbotron-fluid"
    style="height: 20px;margin-top: -2.5cm;margin-bottom: 0.1mm;background-color: white;">
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row">

            <div class="col-md-8">
                <h5 style="color: black;font-family: 'Times New Roman', Times, serif;letter-spacing: -1px;"><i
                        class="fas fa-bars"></i> EXPLORE</h5>
            </div>

            <div class="col-md-4">
                <span id="locations">
                    {% for location in locations %}
                    <a style="color: black;font-weight: bold;font-family: 'Times New Roman', Times, serif;"
                        href="/location/{{location.name}}">{{location.name | upper}}</a>&nbsp; &nbsp;&nbsp;
                    &nbsp;
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="card-columns">
        {% for image in images %}
        <div class="card" data-toggle="modal" data-target="#{{image.id}}">
            <img alt="{{image.name}}" class="card-img" src="{{image.image.url}}">
        </div>

        <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-weight: bold;font-family: 'Times New Roman', Times, serif;">
                            {{image.name | upper}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid"> <br> <br>
                        <ul><span class="blockquote-footer" style="font-size: 15px;">{{image.description}}</span></ul>
                        <span style="margin-left: 300px;font-weight: bold;"><small><i class="fas fa-bars"></i>
                                <span style="font-weight: bold;">{{image.category}}</span></small></span> &nbsp;
                        <span><small><i class="fas fa-map-marker-alt" style="font-weight: bold;"></i>
                                <span style="font-weight: bold;">{{image.location}}</span> </small><span>

                                <div class="modal-footer">
                                    <input class="form-control" type="text" value={{image.image.url}}
                                        id="{{image.id}}.url"
                                        style="height: 10%;font-family: 'Times New Roman', Times, serif;">
                                    <button class="btn btn-sm my-2 my-sm-0" onclick="copyLink('{{image.id}}.url')"
                                        style="background-color: purple;color: white;margin-left: -0.15cm;">Copy</button>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}